/* /* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: "Segoe UI", system-ui, sans-serif;
    background-color: #F8FAFC;
    color: #0F172A;
    line-height: 1.6;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #3f5072, #3f5072);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    opacity: 0.9;
}

/* NAVBAR */
nav {
    background: rgb(98, 136, 177);
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

nav a {
    text-decoration: none;
    color: #fafcfc;
    font-weight: 600;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #14B8A6;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* SECTIONS */
section {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #0F766E;
}

/* IMAGE GRID */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.image-grid img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    transition: transform 0.3s;
}

.image-grid img:hover {
    transform: scale(1.05);
}

/* MEDIA */
video, iframe {
    width: 80%;
    border-radius: 15px;
    margin-top: 20px;
    height: 400px;
}

/* FOOTER */
footer {
    background: rgb(98, 136, 177);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 80px;
}
